<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<header>
    <div class="top-header">
        <div class="language-list">
            <ul>
                <li>O‘zbekcha</li>
                <li>Русский</li>
                <li>English</li>
            </ul>
        </div>
        <div>
            <ul>
                <li>
                    <img src="../static/img/logo-message.svg" alt="">
                    <a href="#">Виртуальная приёмная</a>
                </li>
                <li>
                    <img src="../static/img/logo-email.svg" alt="">
                    <a href="#">E-IJRO</a>
                </li>
                <li>
                    <img src="../static/img/logo-search.svg" alt="">
                    <a href="">Поиск</a>
                </li>
            </ul>
        </div>
        <button>
            <img src="../static/img/logo-special-ability.svg">
        </button>
    </div>
    <div class="logo-header">
        <img src="../static/img/logo-gerb.svg" alt="">
        <h3>МИНИСТЕРСТВО ЖИЛИЩНО-КОММУНАЛЬНОГО ХОЗЯЙСТВА РЕСПУБЛИКИ УЗБЕКИСТАН</h3>
        <p>Удовлетворенность народа жизнью – самая высокая и справедливая оценка, данная нашей работе</p>
    </div>
</header>
<div class="menu-list">
    <ul>
        <li>О МИНИСТЕРСТВЕ</li>
        <li>ДЕЯТЕЛЬНОСТЬ</li>
        <li>ПРЕСС-СЛУЖБА</li>
        <li>ГРАЖДАНАМ</li>
        <li>СПЕЦИАЛИСТАМ</li>
        <li>КОНТАКТЫ</li>
    </ul>
    <p>Телефон доверия</p>
    <p>(+99871) 234-11-03</p>
    <p class="carousel">Шавкат Мирзиёев: Территориальные лидеры промышленности и лавины «убийца»</p>
</div>
<div class="main-news">
    <div class="col-md-4">
        <div class="news-anons">
            <a href="#">НОВОСТИ МИНИСТЕРСТВА</a>
            <a href="#">АНОНС</a>
        </div>
        <div class="news-img">
            <img src="" alt="">
            <p>Наши цели и действия направлены на обеспечение процветания нашего народа, будущего наших детей, мира в
                нашей стране.</p>
            <div class="news-date-views">
                <p>11 Сентября, 2012 12:49</p>
                <p>
                    <img src="../static/img/logo-views.svg" alt="count views">
                    851
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <ul>
            <li>
                <a><p>Имам Тирмизи стал международным исследовательским центром</p></a>
                <div class="news-date-views">
                    <p>11 Сентября, 2012 12:49</p>
                    <p>
                        <img src="../static/img/logo-views.svg" alt="count views">
                        851
                    </p>
                </div>
            </li>
            <li>
                <a><p>Имам Тирмизи стал международным исследовательским центром</p></a>
                <div class="news-date-views">
                    <p>11 Сентября, 2012 12:49</p>
                    <p>
                        <img src="../static/img/logo-views.svg" alt="count views">
                        851
                    </p>
                </div>
            </li>
            <li>
                <a><p>Имам Тирмизи стал международным исследовательским центром</p></a>
                <div class="news-date-views">
                    <p>11 Сентября, 2012 12:49</p>
                    <p>
                        <img src="../static/img/logo-views.svg" alt="count views">
                        851
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-3">
        <h3>Интерактивные услуги</h3>
        <ul>
            <li>
                <img src="../static/img/jkx-service.svg" alt="jkx services">
                <a href="#">ЖКХ услуги</a>
            </li>
            <li><img src="../static/img/calculator-service.svg" alt="calculator services">
                <a href="#">Оплата за ЖКХ</a></li>
            <li><img src="../static/img/tender.svg" alt="tender services">
                <a href="#">Тендеры</a></li>
            <li><img src="../static/img/message.svg" alt="message services">
                <a href="#">Сообщество</a></li>
            <li><img src="../static/img/service.svg" alt="services">
                <a href="#">Гос услуги</a></li>
            <li><img src="../static/img/npa.svg" alt="npa services">
                <a href="#">НПА</a></li>
        </ul>
        <a href="#"><img src="../static/img/statistic.svg" alt="statistic" Статистика></a>
        <a href="#"><img src="../static/img/all-services.svg" alt="">Все услуги</a>
    </div>
</div>
<div class="organizations">
    <h3>Организации министерства</h3>
    <ul>
        <li>
            <div class="organization-card">
                <a href="#">
                    <img src="../static/img/water-organization.svg" alt="water-organization">АО «Узсувтаъминот»
                </a>
            </div>
        </li>
        <li>
            <div class="organization-card">
                <a href="#">
                    <img src="../static/img/jilfondinspection.svg" alt="water-organization">«Жилфондинспекция»
                </a>
            </div>
        </li>
        <li>
            <div class="organization-card">
                <a href="#">
                    <img src="../static/img/gosvodinspection.svg" alt="water-organization">«Госводинспекция»
                </a>
            </div>
        </li>
        <li>
            <div class="organization-card">
                <a href="#">
                    <img src="../static/img/communism.svg" alt="water-organization">«Коммунхизмат»
                </a>
            </div>
        </li>
    </ul>
</div>
<a href="">
    <img src="../static/img/show-more-organization.svg" alt="">Показать больше
</a>
<div class="few-news-projects">
    <div class="col-md-6">
        <h4>Новости Узбекистана</h4>
        <a href="#">Больше<img src="../static/img/all-services.svg" alt="all news uzb"></a>
        <ul>
            <li>
                <img src="../static/img/uzb-news1.png" alt="uzb news 1">
                <div>
                    <a href="#">Встреча с Японской компанией ITOCHU Corporation</a>
                    <p>11 Сентября, 2012 12:49 PM</p>
                </div>
            </li>
            <li>
                <img src="../static/img/uzb-news2.png" alt="uzb news 2">
                <div>
                    <a href="#">Встреча с Японской компанией ITOCHU Corporation</a>
                    <p>11 Сентября, 2012 12:49 PM</p>
                </div>
            </li>
            <li>
                <img src="../static/img/uzb-news3.png" alt="uzb news 3">
                <div>
                    <a href="#">Встреча с Японской компанией ITOCHU Corporation</a>
                    <p>11 Сентября, 2012 12:49 PM</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h4>Проекты реализации</h4>
        <a href="#">Больше<img src="../static/img/all-services.svg" alt="all news uzb"></a>
        <ul>
            <li>
                <img src="../static/img/project1.png" alt="projects 1">
                <div>
                    <a href="#">Встреча с Японской компанией ITOCHU Corporation</a>
                    <p>11 Сентября, 2012 12:49 PM</p>
                </div>
            </li>
            <li>
                <img src="../static/img/project2.png" alt="project 2">
                <div>
                    <a href="#">Встреча с Японской компанией ITOCHU Corporation</a>
                    <p>11 Сентября, 2012 12:49 PM</p>
                </div>
            </li>
            <li>
                <img src="../static/img/project3.png" alt="project 3">
                <div>
                    <a href="#">Встреча с Японской компанией ITOCHU Corporation</a>
                    <p>11 Сентября, 2012 12:49 PM</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="media-tariffs">
    <div class="col-md-6">
        <div class="media">
            <p>Медиа</p>
            <a href="#">Все материалы<img src="../static/img/all-services.svg"></a>
        </div>
        <img src="../static/img/media.png" alt="media">
        <h4>Зачем нужна сортировка мусора?</h4>
        <p>Правда ли, что из пластиковыз ёмкостей шьют одежду? Кому нужно окрашивать контейнеры в разные цвета? На эти
            вопросы отвечаем в нашем репортаже.</p>
    </div>
    <div class="col-md-6">
        <div class="tariffs">
            <p>Тарифы на ЖКХ</p>
            <a href="#">Расширенный калькулятор<img src="../static/img/all-services.svg"></a>
        </div>
        <div class="calculator">
            <div>
                <select name="" id="">
                    <option value="">г.Ташкент</option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                </select>
                <img src="../static/img/region-calculator.svg" alt="region calculator">
            </div>
            <a href="#">Cчётчик</a>
            <a href="">Без счётчика</a>
        </div>
        <ul>
            <li>
                <img src="../static/img/electricity.svg" alt="electricity">
                <p><strong>Электричество</strong></p>
                <p><strong>250</strong> сум</p>
                <p>-</p>
            </li>
            <li>
                <img src="../static/img/cold-water.svg" alt="cold-water">
                <p><strong>Холодная вода</strong></p>
                <p><strong>850</strong> сум</p>
                <p><strong>9937.13</strong>сум</p>
            </li>
            <li>
                <img src="../static/img/hot-water.svg" alt="hot-water">
                <p><strong>Горячая вода</strong></p>
                <p><strong>4332</strong> сум</p>
                <p><strong>55655.13</strong>сум</p>
            </li>
            <li>
                <img src="../static/img/trash.svg" alt="trash">
                <p><strong>Утилизация</strong></p>
                <p><strong>-</strong></p>
                <p><strong>55655.13</strong>сум</p>
            </li>
            <li>
                <img src="../static/img/gas.svg" alt="gas">
                <p><strong>Газ</strong></p>
                <p><strong>4332</strong> сум</p>
                <p><strong>55655.13</strong>сум</p>
            </li>
            <li>
                <img src="../static/img/heating.svg" alt="heating">
                <p><strong>Отопление</strong></p>
                <p><strong>-</strong></p>
                <p><strong>55655.13</strong>сум</p>
            </li>
        </ul>
    </div>
</div>
<div class="territorial">

    <h3>Территориальное управление</h3>
    <a href="#"><img src="../static/img/territorial-left.svg" alt="territorial left"></a>
    <a href=""><img src="../static/img/territorial-right.svgr" alt="territorial right"></a>
    <div class="col-md-6"></div>
    <div class="col-md-6">
        <div class="card-territorial">
            <img src="../static/img/territorial.svg" alt="territorial">
            <h4>Жилищно-коммунальное хозяйство города Ташкента</h4>
            <p>Начальник отдела:</p>
            <p><strong>Азимжанов Шавкат Джураевич</strong></p>
            <p>Телефон:</p>
            <p><strong>(0-371) 256-69-15</strong></p>
            <p>E-mail:</p>
            <p><strong>toshkent.sh@mjko.uz</strong></p>
            <p>Дни приёма:</p>
            <p><strong>Четверг: с 9:00 до 11:00</strong></p>
        </div>
    </div>
</div>
<div class="statistic">
    <ul>
        <li>
            <div class="statistic-img-card"><img src="../static/img/statistic1.svg" alt="statistic 1"></div>
            <p><strong>188</strong></p>
            <p>Полученных заявок</p>
        </li>
        <li>
            <div class="statistic-img-card"><img src="../static/img/statistic2.svg" alt="statistic 2"></div>
            <p><strong>110</strong></p>
            <p>Обработанных заявок</p>
        </li>
        <li>
            <div class="statistic-img-card"><img src="../static/img/statistic3.svg" alt="statistic 3"></div>
            <p></p>
            <p>В процессе обработки</p>
        </li>
        <li><img src="../static/img/statistic4.svg" alt="statistic 4">
            <p><strong>78</strong></p>
            <p>Отклоненных заявок</p>
        </li>
    </ul>
</div>
<div>
    <h3>Открытое Министерство</h3>
    <ul>
        <li>
            <img src="../static/img/open-ministry1.svg" alt="open ministry 1">
            <a href="#">Портал открытых данных Республики Узбекистан</a>
        </li>
        <li>
            <img src="../static/img/open-ministry2.svg" alt="open ministry 2">
            <a href="#">Обращения</a>
        </li>
        <li>
            <img src="../static/img/open-misnitry-3.svg" alt="open ministry 3">
            <a href="#">Планы и отчеты</a>
        </li>
        <li>
            <img src="../static/img/open-ministry-4.svg" alt="open ministry 4">
            <a href="#">Противодействие коррупции</a>
        </li>
        <li>
            <img src="../static/img/open-ministry-5.svg" alt="open ministry">
            <a href="#">Общественный совет</a>
        </li>
        <li>
            <img src="../static/img/open-ministry-6.svg" alt="open ministry 6">
            <a href="#">Опрос</a>
        </li>
    </ul>
</div>
<div class="contact">
    <div class="card-contact">
        <div>
            <h3>Контакты</h3>
            <p>Эл.почта:<strong>info@mjko.uz</strong></p>
            <p>Телефон:<strong>(+99871) 234-11-03</strong></p>
            <p>Адрес:<strong>100035, г.Ташкент, Юнусабадский район, улица Ниёзбек юли, дом 1</strong></p>
        </div>
        <div>
            <h4>Мы в соц-сетях</h4>
            <a href="#"><img src="../static/img/facebook.svg" alt=""></a>
            <a href="#"><img src="../static/img/instagram.svg" alt=""></a>
            <a href="#"><img src="../static/img/twitter.svg" alt=""></a>
            <a href="#"><img src="../static/img/telegram.svg" alt=""></a>
        </div>
    </div>
    <div>
        <iframe></iframe>
    </div>
    <div></div>
</div>
</body>
<script type="text/javascript" src="../static/main.js"></script>
</html>